body {
	background-color: #3AA6D0;
	font-family: Arial;
	color: #226078;
}

#page-wrap  {
	width: 800px;
	margin: 80px auto 60px;
	padding: 30px;
	background-color: #62B1D0;
	box-shadow: 0px 0px 20px #024C68;
}	

#name {
	border-bottom: 2px solid #024C68;
}

.float-right {
	float: right;
}

#headshot {
	margin-right: 40px;
	margin-bottom: 20px;
	border-radius: 100%;
	border: 2px solid #024C68;
	box-shadow: 0 0 20px #024C68;
}

/* combine these into one */
.socialNav {
	list-style: none;
	width: 600px;
	margin: auto;
	padding: 0;
}

.socialNav li {
	height: 35px;
	width: 35px;
	margin-right: 25px;
	display: inline-block;
}

.social-link {
	height: 35px;
	width: 35px;
	border-radius: 100%;
	box-shadow: 0 0 20px #024C68;
}

.social-link:hover {
	background-color: #226078;
}

h1 {
	font-size: 30px;
	color: #024C68;
	margin-bottom: 0px;
}

ul li {
	list-style: none;
	margin-bottom: 10px;
}

.duties {
	display: inline-block;
	width: 200px;
	height: 100px;
	margin-right: 20px;
	padding: 10px;
	text-align: justify;
	overflow: scroll;
}

.job-type {
	text-transform: uppercase;
	display: block;
 	font-weight: bold;
 	text-align: left;
 	color: #024C68;
}















